@import "../App.css";

body
{ 
   background-color: var(--primary-color);
}


.Admin-container 
{
   display: flex;
  justify-content: start;
  align-items: center;
  flex-direction:column;
  height: 100vh;
  font-size: small;
}
.Admin-container h1
{
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 10px;
}

.Admin-container h4
{
  font-size: 1rem;
}

.Form-admin-Container 
{
   width: 50%; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 200px;
}

.admin-fields 
{
   display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.admin-fields .admin-label
{
   margin-top: 30px;
}

.admin-input
{
  width: 40%; 
  margin-bottom: 10px;
}

.input-field-admin {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.Admin-container .next-button {
  position: absolute;
  /* left: 28.5rem; */
  right: 0px;
  bottom: 0rem;
  /* Initially, the button will be translated by -50% in both X and Y directions to center it */
  /* width: 20%;
  padding: 10px 20px;
  margin: 50px 10px 40px 120px; */
}