@import "../App.css";

body
{ 
   background-color: var(--primary-color);
}

 .PatientAddress-container h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 10px;
}

.PatientAddress-container h3 {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.PatientAddress-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: small;
}

.Form-address-Container{
  width: 50%; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 450px;
}

.address-fields {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

/* .bottom-fields {
  display: flex;
  justify-content: space-between; /* To place elements at start and end */


.label-address {
  width: 48%; 
  margin-bottom: 10px;
}
/* .label-address p 
{
  padding-top: 22px;
 } */
.address-fields .button-label 
{
  margin-top: 30px;
}

.input-field {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* .bottom-fields
 {
  width: 25%; 
  display: inline;
  margin-top: 20px;
  margin-right: 60px;
 } */


.label-legal-sex
{
  display: flex;
  flex-direction: column;
}
 .PatientAddress-container .next-button {
  position: absolute;
  /* left: 28.5rem; */
  right: 0px;
  bottom: 0rem;
   
  /* Initially, the button will be translated by -50% in both X and Y directions to center it */
  /* width: 20%;
  padding: 10px 20px;
  margin: 50px 10px 40px 120px; */
}

.sub-policy-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 0.5px solid var(--primary-color);
  border-radius: 20px;
}

.policy-container {
  width: 35%;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
}
