@import "../App.css";

body
{ 
   background-color: var(--primary-color);
}

 .SignupMyself-container h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 10px;
}

.SignupMyself-container h4 {
  font-size: 1rem;
}

.SignupMyself-container 
{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction:column;
  height: 100vh;
  font-size: small; 
}

.Form-myself-Container {
  width: 50%; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-left: 200px;
  /* border: 1px solid black; */
}
.required-fields 
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.required-fields .myself-label 
{
    margin-top: 30px;
}
.myself-input
{
  width: 48%; 
  margin-bottom: 10px;
}

.input-field {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-field1 {
  width: 190%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
 .SignupMyself-container .next-button {
  position: absolute;
  /* left: 28.5rem; */
  right: 0px;
  bottom: 0rem;
  /* Initially, the button will be translated by -50% in both X and Y directions to center it */
  /* width: 20%;
  padding: 10px 20px;
  margin: 50px 10px 40px 120px; */
}