@import "../App.css";

body
{ 
   background-color: var(--primary-color);
}

 .Signupfamilymember-container h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: 10px;
}

.Signupfamilymember-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction:column;
  height: 100vh;
  font-size: small;
}

.Form-Container {
  width: 60%; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 200px;
  /* border: 1px solid black; */
}

.name-fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

/* .bottom-fields {
  display: flex;
  justify-content: space-between; /* To place elements at start and end */


.label-input {
  width: 48%; 
  margin-bottom: 10px;
}

.name-fields .login-label 
{
  margin-top: 30px;
}

.input-field {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* .bottom-fields
 {
  width: 25%; 
  display: inline;
  margin-top: 20px;
  margin-right: 60px;
 } */


 .Signupfamilymember-container .next-button {
  position: absolute;
  /* left: 28.5rem; */
  right: 0px;
  bottom: 0rem;
  margin-top: 120px; 
  /* Initially, the button will be translated by -50% in both X and Y directions to center it */
  /* width: 20%;
  padding: 10px 20px;
  margin: 50px 10px 40px 120px; */
}